<div class="cartBox">
    <h1 class="text-danger">Shopping Cart</h1>
    <div class="headCart">
        <p class="lead">You have <label for="" class="text-danger">{{CartProducts.length}}</label> item in your cart </p>
        <span class="text-danger card-head" (click)="ClearData()"> Clear Shopping Cart </span>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>price</th>
                <th style="width: 25%;"> Quantity </th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of CartProducts; let index = index">
                <td><img src="{{item.item.image}}" alt=""></td>
                <td>{{item.item.title}}</td>
                <td> {{item.item.price | number:'1.1-2'}} L.E </td>
                <td>
                    <div class="quantity">
                        <button class="btn btn-dark" (click)="AddAmount(index)">+</button>
                        <input class="from-control" type="number" (change)="DetectChange()" [(ngModel)]="item.quantity" min="1"/>
                        <button class="btn btn-dark" (click)="MinAmount(index)">-</button>
                    </div>
                </td>
                <td>{{item.item.price * item.quantity}} L.E</td>
                <td>
                    <button class="btn btn-danger" (click)="DeteleProduct(index)">Delete</button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th> Total : {{totaPrice | number:'1.2-3'}} L.E</th>
                <th>
                    <button class="btn btn-success" (click)="buyOrder()">Order Now</button>
                </th>
            </tr>
        </tfoot>
    </table>
</div>

<div class="alert alert-success" role="alert" *ngIf="success"> <strong>Well done!</strong> Your order is Successfully Send </div>