<div class="cartBox">
    <form [formGroup]="form">
        <div class="row">
            <div class="col-md-3">
                <label for=""> Start Date </label>
                <input type="date" formControlName="start" class="form-control" />
            </div>
            <div class="col-md-3">
                <label for=""> End Date </label>
                <input type="date" formControlName="end" class="form-control" />
            </div>
            <div class="col-md-2 d-flex align-items-end">
                <button (click)="ApplyFilter()" class="btn btn-success">apply</button>
            </div>
        </div>
    </form>

    <br>

    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Date</th>
                <th>Quantity</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of carts; let index = index">
                <td></td>
                <td>{{ item.date | date : "shortDate" }}</td>
                <td>{{ item.products.length }}</td>
                <td>
                    <button class="btn btn-danger">Delete</button>
                    <button class="btn btn-success">View</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>